<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список должностей</title>
    <!-- Подключение CSS (например, Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .menu-button {
            position: absolute;
            top: 10px; /* Регулируйте вертикальное положение кнопки */
            right: 10px; /* Регулируйте горизонтальное положение кнопки */
            padding: 5px 10px; /* Отступы по краям кнопки */
        }
    </style>
</head>
{% block content %} {% endblock %}