<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление</title>
    <!-- Подключение CSS (например, Bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Дополнительные стили для центрирования текста и кнопок */
        .center-text {
            text-align: center;
            margin-top: 50px;
        }
        .center-buttons {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="center-text">Управление</h2>
        <div class="center-buttons">
            <a href="{% url 'employees:position_list' %}" class="btn btn-primary">Справочник должностей</a>
        </div>
        <div class="center-buttons">
            <a href="{% url 'employees:employee_list' %}" class="btn btn-primary">Список сотрудников</a>
        </div>
    </div>
    <!-- Подключение JavaScript (например, для Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
