{% extends 'position/base.html' %}

{% block content %}
<body>
    <div class="container">
        <h2>Список сотрудников</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Должность</th>
                    <th>Дата принятия на работу</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.middle_name }}</td>
                    <td>{{ employee.position.job_title }}</td>
                    <td>{{ employee.invite_date }}</td>
                    <td>
                        <!-- Ссылки для действий (редактировать, удалить) -->
                        <a href="{% url 'employees:edit_employee' employee.id %}">Редактировать</a> |
                        <a href="{% url 'employees:delete_employee' employee.id %}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}" class="btn btn-primary menu-button">Меню</a>
        <a href="{% url 'employees:add_employee' %}" class="btn btn-primary">Добавить сотрудника</a>
    </div>
    <!-- Подключение JavaScript (например, для Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}